# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# OS
.DS_Store
.DS_Store?
._*
Thumds.db
Icon?
ehthumbs.db

# Project Specific
__MACOSX/
*.zip
.agent/
.gemini/
mcp_config.json
